<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>记事本</title>
    <link rel="stylesheet" href="bootstrap.css">
    <style type="text/css">
        .del{
            text-decoration: line-through;
            color: #ddd;
        }
        [v-cloak]{  /*防闪烁效果*/
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header" style="color: #fff;font-size:25px">
                TodoList
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-info">
                    <!--head-->
                    <div class="panel-heading">
                        <h3 class="text-warning">亲，你有 {{count}}件事没完成</h3>
                        <input type="text" class="form-control" v-model="title" @keydown.enter="add">
                    </div>

                    <!--body-->
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="(todo,index) in filterTodos">
                                <span :class="{del:todo.isSelected}" v-show="cur!=todo" @dblclick="remember(todo)">
                                    <input type="checkbox" v-model="todo.isSelected">
                                   {{todo.content}}
                                </span>
                                <input type="text" v-model="todo.content" v-show="cur==todo" @keydown.enter="cancel" @blur="cancel">
                                <button class="btn btn-danger btn-xs pull-right" @click="remove(todo)">删除</button>
                            </li>
                        </ul>

                    </div>

                    <!--footer-->
                    <div class="panel-footer">
                        <ul class="nav nav-pills">
                            <li role="presentation" :class="{active:hash==='#/all'}"><a href="#/all">全部任务</a></li>
                            <li role="presentation" :class="{active:hash==='#/finish'}"><a href="#/finish">已完成</a></li>
                            <li role="presentation" :class="{active:hash==='#/unfinish'}"><a href="#/unfinish">未完成</a></li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>
<script src="vue.js"></script>
<script >
	let vm = new Vue({
		el:'#app',
		data:{
			title:'',
			todos:[{isSelected:true,content:'sleep'},{isSelected:true,content:'lunch'}],
			cur:'',
			hash:''
		},
		created(){
			this.todos=JSON.parse(localStorage.getItem('todos'))||this.todos;
			this.hash=window.location.hash||'#/all';
			window.addListener("hashChange",()=>{
				this.hash=window.location.hash;
			},false)
		},
		methods:{
			add(){
				this.todos.push({isSelected:true,content:this.title});
				this.title='';
			},
			remove(todo){
				this.todos.filter(item=>{
					return item!=todo;
				})
			},
			remeber(todo){
				this.cur=todo;
			},
			cancel(todo){
				this.cur='';
			}
		},
		computed:{
			count(){
				return this.todos.filter(item=>{
					return !item.isSeleted
				}).length;
			},
			filterTodos(){
				if(this.hash=='#/all'){
					return this.todos;
				}
				if(this.hash=="#/finish"){
					return this.todos.filter(item=>{
						return item.isSelected;
					})
				}
				if(this.hash=="#/unfinish"){
					return this.todos.filter(item=>{
						return !item.isSelected;
					})
				}
			}
		},
		watch:{
			todos:{
				hadler(newVal){
					localStorage.setItem('todos',JSON.stringify(newVal))
				},
				deep:true
			}
		}
	});
</script>
